---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="h-screen w-full pt-[72px]">
    <div class="relative h-full w-full bg-background/90">
      <img
        src="/images/hero.jpg"
        alt="Misty mountain range at dawn"
        class="absolute inset-0 w-full h-full object-cover"
      />
      <div class="absolute bottom-8 left-8 bg-background/90 px-4 py-3">
        <p class="text-primary text-xs uppercase tracking-widest font-bold">
          Dawn Over The Range, 2025
        </p>
      </div>
    </div>
  </div>
</Layout>
